#table_id{
    display : block;
    max-height: auto 1024px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    background-color:#eeeeee;
    width: 100%;
    margin: 1% auto;
    float: none;
}

#card{
    background-color:#eeeeee;
    color:#2e5490;
}

#txtCard{
   text-align:justify;
}


#btnEdit {
    background-color: #eeeeee;
}

#txtModal {
    color: #2e5490;
}

.size{
    
    width: 10%;
}