
body{
  margin:0px 0px 0px 0px;
  background-size: cover;
  background-image: url("./components/imagenesImpesa/FONDO.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #669999;
  /*display: flex;*/
  min-height: 100vh;
  flex-wrap: wrap;


}
#nav {
    position: fixed;
    left: 50%;
    top: 0%;
    transform: translate(-50%,-0%);
    background-color: #eeeeee;
    /* z-index:99;*/
}
#div_ancho_completo{
  height: 100%;
  width:100%;
  text-align: center;
  overflow: auto;
}
/*#footer{
  align-self: flex-end;
  line-height: 3;
  text-align: center;
  width: 100%;
}*/